/*
 * This file is part of prose-app-web
 *
 * Copyright 2025, Prose Foundation
 */

/* *************************************************************************
 * EXPORTS > COLORS
 * **************************************************************************/

:export {
  // Important: only export what is needed here!

  // Defaults

  defaultAccentBackgroundNormal: $color-default-accent-background-normal;
  defaultAccentBackgroundDark: $color-default-accent-background-dark;
  defaultAccentText: $color-default-accent-text;
}
