/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * ELEMENTS > INLINE
 * **************************************************************************/

a {
  outline: 0;
  color: rgb(var(--color-base-blue-link));
  text-decoration: none;
  transition: color 100ms linear;
  cursor: pointer;
}
