/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * ELEMENTS > PAGE
 * **************************************************************************/

html {
  background: $color-background-secondary;
  color: $color-black;

  font-size: 16px;
  font-family: $font-family-default, Helvetica, Arial, sans-serif;
  line-height: 22px;

  @include font-smoothing(antialiased);
}
