/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * ELEMENTS > FONTS
 * **************************************************************************/

// Outfit

@font-face {
  font-weight: $font-weight-regular;
  font-style: normal;
  font-family: $font-family-default;
  src: url("/fonts/outfit/outfit_regular.woff2") format("woff2");
}

@font-face {
  font-weight: $font-weight-medium;
  font-style: normal;
  font-family: $font-family-default;
  src: url("/fonts/outfit/outfit_medium.woff2") format("woff2");
}

@font-face {
  font-weight: $font-weight-bolder;
  font-style: normal;
  font-family: $font-family-default;
  src: url("/fonts/outfit/outfit_semibold.woff2") format("woff2");
}
