/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * UTILITIES > ANIMATIONS
 * **************************************************************************/

// VARIABLES
$animate-toast-margin-block-end: -3px;

.u-animate {
  animation-duration: 0.5s;
  animation-fill-mode: both;

  // --> SPEEDS <--

  &--infinite {
    animation-iteration-count: infinite;
  }

  &--superfast {
    animation-duration: 0.1s;
  }

  &--midfast {
    animation-duration: 0.15s;
  }

  &--fast {
    animation-duration: 0.2s;
  }

  &--slow {
    animation-duration: 1s;
  }

  &--midslow {
    animation-duration: 1.25s;
  }

  &--superslow {
    animation-duration: 1.5s;
  }

  // --> ANIMATIONS <--

  &--fade-in-up-small {
    animation-name: fadeInUpSmall;
  }

  &--fade-out-down-small {
    animation-name: fadeOutDownSmall;
  }

  &--fade-in-out-expand-horizontal {
    animation-name: fadeInOutExpandHorizontal;
  }

  &--rotate {
    animation-name: rotate;
  }
}

// --> KEYFRAMES <--

@keyframes fadeInUpSmall {
  from {
    opacity: 0;
    margin-block-end: $animate-toast-margin-block-end;
  }

  to {
    opacity: 1;
    margin-block-end: 0;
  }
}

@keyframes fadeOutDownSmall {
  from {
    opacity: 1;
    margin-block-end: 0;
  }

  to {
    opacity: 0;
    margin-block-end: $animate-toast-margin-block-end;
  }
}

@keyframes fadeInOutExpandHorizontal {
  0% {
    opacity: 0;
    width: 0%;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
