/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * UTILITIES > APPEARANCE
 * **************************************************************************/

.u-appearance {
  // Notice: fixed colors are stable between Light Mode and Dark Mode.

  // --> FIXED <--

  --color-black-fixed: #{hex-var($color-black)};
  --color-white-fixed: #{hex-var($color-white)};
  --color-base-grey-dark-fixed: #{hex-var($color-base-grey-dark)};

  // --> LIGHT MODE <--

  // Black
  --color-black: #{hex-var($color-black)};

  // White
  --color-white: #{hex-var($color-white)};

  // Bases
  --color-base-blue-normal: #{hex-var($color-base-blue-normal)};
  --color-base-blue-dark: #{hex-var($color-base-blue-dark)};
  --color-base-blue-link: #{hex-var($color-base-blue-link)};
  --color-base-green-normal: #{hex-var($color-base-green-normal)};
  --color-base-grey-dark: #{hex-var($color-base-grey-dark)};
  --color-base-grey-light: #{hex-var($color-base-grey-light)};
  --color-base-grey-normal: #{hex-var($color-base-grey-normal)};
  --color-base-orange-light: #{hex-var($color-base-orange-light)};
  --color-base-orange-normal: #{hex-var($color-base-orange-normal)};
  --color-base-orange-dark: #{hex-var($color-base-orange-dark)};
  --color-base-purple-light: #{hex-var($color-base-purple-light)};
  --color-base-purple-normal: #{hex-var($color-base-purple-normal)};
  --color-base-red-normal: #{hex-var($color-base-red-normal)};

  // Borders
  --color-border-primary: #{hex-var($color-border-primary)};
  --color-border-secondary: #{hex-var($color-border-secondary)};
  --color-border-tertiary: #{hex-var($color-border-tertiary)};

  // Backgrounds
  --color-background-primary: #{hex-var($color-background-primary)};
  --color-background-secondary: #{hex-var($color-background-secondary)};
  --color-background-tertiary: #{hex-var($color-background-tertiary)};
  --color-background-quaternary: #{hex-var($color-background-quaternary)};

  // Shadows
  --color-shadow-primary: #{hex-var($color-shadow-primary)};
  --color-shadow-reverse: #{hex-var($color-shadow-reverse)};

  // Texts
  --color-text-primary: #{hex-var($color-text-primary)};
  --color-text-secondary: #{hex-var($color-text-secondary)};
  --color-text-tertiary: #{hex-var($color-text-tertiary)};
  --color-text-reverse: #{hex-var($color-text-reverse)};

  // --> DARK MODE <--

  &--dark {
    // Black
    --color-black: #{hex-var($color-dark-black)};

    // White
    --color-white: #{hex-var($color-dark-white)};

    // Bases
    --color-base-blue-normal: #{hex-var($color-dark-blue-normal)};
    --color-base-blue-dark: #{hex-var($color-dark-blue-dark)};
    --color-base-blue-link: #{hex-var($color-dark-blue-link)};
    --color-base-green-normal: #{hex-var($color-dark-green-normal)};
    --color-base-grey-dark: #{hex-var($color-dark-grey-dark)};
    --color-base-grey-light: #{hex-var($color-dark-grey-light)};
    --color-base-grey-normal: #{hex-var($color-dark-grey-normal)};
    --color-base-orange-light: #{hex-var($color-dark-orange-light)};
    --color-base-orange-normal: #{hex-var($color-dark-orange-normal)};
    --color-base-orange-dark: #{hex-var($color-dark-orange-dark)};
    --color-base-purple-light: #{hex-var($color-dark-purple-light)};
    --color-base-purple-normal: #{hex-var($color-dark-purple-normal)};
    --color-base-red-normal: #{hex-var($color-dark-red-normal)};

    // Borders
    --color-border-primary: #{hex-var($color-dark-border-primary)};
    --color-border-secondary: #{hex-var($color-dark-border-secondary)};
    --color-border-tertiary: #{hex-var($color-dark-border-tertiary)};

    // Backgrounds
    --color-background-primary: #{hex-var($color-dark-background-primary)};
    --color-background-secondary: #{hex-var($color-dark-background-secondary)};
    --color-background-tertiary: #{hex-var($color-dark-background-tertiary)};
    --color-background-quaternary: #{hex-var($color-dark-background-quaternary)};

    // Texts
    --color-text-primary: #{hex-var($color-dark-text-primary)};
    --color-text-secondary: #{hex-var($color-dark-text-secondary)};
    --color-text-tertiary: #{hex-var($color-dark-text-tertiary)};
    --color-text-reverse: #{hex-var($color-dark-text-reverse)};
  }
}
