/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * UTILITIES > ANIMATIONS
 * **************************************************************************/

// VARIABLES
$animate-toast-margin-block-end: -3px;

.animate {
  animation-duration: 0.5s;
  animation-fill-mode: both;

  // --> SPEEDS <--

  &--infinite {
    animation-iteration-count: infinite;
  }

  &--superfast {
    animation-duration: 0.1s;
  }

  &--fast {
    animation-duration: 0.2s;
  }

  &--slow {
    animation-duration: 1s;
  }

  &--superslow {
    animation-duration: 2s;
  }

  // --> ANIMATIONS <--

  &--fade-in-up-small {
    animation-name: fadeInUpSmall;
  }

  &--fade-out-down-small {
    animation-name: fadeOutDownSmall;
  }
}

// --> KEYFRAMES <--

@keyframes fadeInUpSmall {
  from {
    opacity: 0;
    margin-block-end: $animate-toast-margin-block-end;
  }

  to {
    opacity: 1;
    margin-block-end: 0;
  }
}

@keyframes fadeOutDownSmall {
  from {
    opacity: 1;
    margin-block-end: 0;
  }

  to {
    opacity: 0;
    margin-block-end: $animate-toast-margin-block-end;
  }
}
