/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > FONTS
 * **************************************************************************/

// Families

$font-family-default: "Prose Outfit";
$font-family-code: "Prose Hack";

// Weights

$font-weight-bolder: 700;
$font-weight-medium: 600;
$font-weight-regular: 400;

// Sizes

$font-size-page: 16px;
$font-size-baseline: 14px;
