/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > COLORS
 * **************************************************************************/

// --> LIGHT MODE <--

// Black

$color-black: #000000;

// White

$color-white: #ffffff;

// Bases

$color-base-blue-normal: #2490f0;
$color-base-blue-dark: #0079e5;
$color-base-blue-link: #4233be;
$color-base-green-normal: #05c02b;
$color-base-grey-dark: #495462;
$color-base-grey-light: #f5f6fa;
$color-base-grey-normal: #949eb1;
$color-base-orange-light: #f1914b;
$color-base-orange-normal: #fc8227;
$color-base-orange-dark: #dd792f;
$color-base-purple-light: #c6c6e1;
$color-base-purple-normal: #392ca0;
$color-base-red-normal: #dd2f2f;

// Borders

$color-border-primary: #e5e5e5;
$color-border-secondary: #ebebeb;
$color-border-tertiary: #f5f5f5;

// Backgrounds

$color-background-primary: #ffffff;
$color-background-secondary: #fbfbfc;
$color-background-tertiary: #f5f6fa;
$color-background-quaternary: #ffffff;

// Shadows

$color-shadow-primary: #000000;
$color-shadow-reverse: #ffffff;

// Texts

$color-text-primary: #000000;
$color-text-secondary: #828993;
$color-text-tertiary: #999fa7;
$color-text-reverse: #ffffff;

// --> DARK MODE <--

// Black

$color-dark-black: invert($color-black);

// White

$color-dark-white: invert($color-white);

// Bases

$color-dark-blue-normal: lighten($color-base-blue-normal, 4%);
$color-dark-blue-dark: lighten($color-base-blue-dark, 6%);
$color-dark-blue-link: lighten($color-base-blue-link, 4%);
$color-dark-green-normal: lighten($color-base-green-normal, 4%);
$color-dark-grey-dark: #ffffff;
$color-dark-grey-light: #1e1e1e;
$color-dark-grey-normal: #dbdbdb;
$color-dark-orange-light: lighten($color-base-orange-light, 6%);
$color-dark-orange-normal: lighten($color-base-orange-normal, 3%);
$color-dark-orange-dark: lighten($color-base-orange-dark, 2%);
$color-dark-purple-light: lighten($color-base-purple-light, 2%);
$color-dark-purple-normal: lighten($color-base-purple-normal, 20%);
$color-dark-red-normal: lighten($color-base-red-normal, 4%);

// Borders

$color-dark-border-primary: lighten(invert($color-border-primary), 8%);
$color-dark-border-secondary: lighten(invert($color-border-secondary), 6%);
$color-dark-border-tertiary: lighten(invert($color-border-tertiary), 7%);

// Backgrounds

$color-dark-background-primary: #111111;
$color-dark-background-secondary: #151515;
$color-dark-background-tertiary: #171717;
$color-dark-background-quaternary: #1e1e1e;

// Texts

$color-dark-text-primary: invert($color-text-primary);
$color-dark-text-secondary: #a1a6ae;
$color-dark-text-tertiary: #7f868f;
$color-dark-text-reverse: invert($color-text-reverse);

// --> DEFAULTS <--

$color-default-accent-background-normal: $color-base-blue-normal;
$color-default-accent-background-dark: $color-base-blue-dark;
$color-default-accent-text: $color-text-reverse;
