/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > COLORS
 * **************************************************************************/

// Black

$color-black: #000000;

// White

$color-white: #ffffff;

// Bases

$color-base-blue-normal: #2490f0;
$color-base-blue-dark: #0079e5;
$color-base-blue-link: #4233be;
$color-base-green-normal: #05c02b;
$color-base-grey-dark: #495462;
$color-base-grey-light: #f5f6fa;
$color-base-grey-normal: #949eb1;
$color-base-orange-light: #f1914b;
$color-base-orange-normal: #dd792f;
$color-base-purple-light: #c6c6e1;
$color-base-purple-normal: #392ca0;
$color-base-purple-ultra-light: #fbfbfd;
$color-base-red-normal: #dd2f2f;

// Borders

$color-border-primary: #e5e5e5;
$color-border-secondary: #ebebeb;
$color-border-tertiary: #f5f5f5;

// Backgrounds

$color-background-primary: #ffffff;
$color-background-secondary: #fbfbfc;

// Texts

$color-text-primary: #000000;
$color-text-secondary: #828993;
$color-text-tertiary: #999fa7;
$color-text-reverse: #ffffff;
