/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > INDEXES
 * **************************************************************************/

// --> FOREGROUND <--

$index-foreground-primary: 10000;
$index-foreground-secondary: 1000;
$index-foreground-tertiary: 100;
$index-foreground-quaternary: 10;
