/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > SIZES
 * **************************************************************************/

// --> LAYOUT <--

$size-layout-gradient-height: 6px;

// --> SIDEBAR <--

$size-sidebar-popover-inset-inline-side: -3px;

// --> INBOX <--

$size-inbox-topbar-height: 60px;
$size-inbox-form-height: 65px;

// --> BASE ACTION <--

$size-base-action-padding-sides: 8px;

// --> BASE POPOVER <--

$size-base-popover-border-width: 1px;

// --> BASE POPOVER LIST <--

$size-base-popover-list-inset-block-edge-offset: 7px;

// --> LIST ITEM <--

$size-list-item-icon-padding-inline-end: 7px;
$size-list-item-details-margin-inline-start: 6px;

// --> FORM FIELD <--

$size-form-field-border-radius: 10px;
$size-form-field-outline-width: 2px;
