/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > SIZES
 * **************************************************************************/

$size-layout-gradient-height: 6px;
$size-inbox-topbar-height: 60px;
$size-inbox-form-height: 65px;

$size-base-action-padding-sides: 8px;

$size-list-item-icon-padding-inline-end: 7px;
$size-list-item-details-margin-inline-start: 6px;
