/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > COLORS
 * **************************************************************************/

// Black

$color-black: #000000;

// White

$color-white: #ffffff;

// Bases

$color-base-blue-link: #4233be;

// Backgrounds

$color-background-primary: $color-white;
$color-background-secondary: #fbfbfc;
