/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > SIZES
 * **************************************************************************/

// --> LAYOUT <--

$size-layout-gradient-height: 6px;

// --> SIDEBAR <--

$size-sidebar-popover-inset-inline-side: -3px;

// --> INBOX <--

$size-inbox-topbar-height: 60px;
$size-inbox-form-height: 65px;
$size-inbox-userinfo-width: 240px;
$size-inbox-userinfo-item-padding-sides: 15px;

// --> BASE ACTION <--

$size-base-action-padding-sides: 8px;

// --> BASE POPOVER <--

$size-base-popover-border-width: 1px;

// --> BASE POPOVER LIST <--

$size-base-popover-list-inset-block-edge-offset: 7px;

// --> LIST ITEM <--

$size-list-item-icon-padding-inline-end: 7px;
$size-list-item-details-margin-inline-start: 6px;

// --> FORM FIELD <--

$size-form-field-padding-block: 1px;
$size-form-field-outline-width: 2px;
$size-form-field-border-radius: 10px;

$size-form-field-medium-padding-sides: 10px;
$size-form-field-mid-medium-padding-sides: 14px;
$size-form-field-large-padding-sides: 18px;
$size-form-field-mid-large-padding-sides: 22px;
$size-form-field-ultra-large-padding-sides: 24px;

$size-form-field-medium-input-line-height: 25px;
$size-form-field-mid-medium-input-line-height: 32px;
$size-form-field-large-input-line-height: 42px;
$size-form-field-mid-large-input-line-height: 48px;
$size-form-field-ultra-large-input-line-height: 58px;

// --> FORM SELECT <--

$size-form-select-padding-block: $size-form-field-padding-block;
$size-form-select-border-width: 1px;
$size-form-select-border-radius: ($size-form-field-border-radius - 3px);
$size-form-select-search-height: 32px;
$size-form-select-search-icon-offset: 21px;
$size-form-select-options-padding-block: 5px;

$size-form-select-medium-padding-sides: $size-form-field-medium-padding-sides;
$size-form-select-mid-medium-padding-sides: $size-form-field-mid-medium-padding-sides;
$size-form-select-large-padding-sides: $size-form-field-large-padding-sides;
$size-form-select-mid-large-padding-sides: $size-form-field-mid-large-padding-sides;
$size-form-select-ultra-large-padding-sides: $size-form-field-ultra-large-padding-sides;

$size-form-select-medium-line-height: $size-form-field-medium-input-line-height;
$size-form-select-mid-medium-line-height: $size-form-field-mid-medium-input-line-height;
$size-form-select-large-line-height: $size-form-field-large-input-line-height;
$size-form-select-mid-large-line-height: $size-form-field-mid-large-input-line-height;
$size-form-select-ultra-large-line-height: $size-form-field-ultra-large-input-line-height;

// --> FORM CHECKBOX <--

$size-form-checkbox-small-size: 18px;
$size-form-checkbox-medium-size: 24px;
