/*
 * This file is part of prose-app-web
 *
 * Copyright 2023, Prose Foundation
 */

/* *************************************************************************
 * VARIABLES > ALL
 * **************************************************************************/

@import "_variables.colors";
@import "_variables.fonts";
@import "_variables.sizes";
